<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel = "stylesheet" href="/css/layout.css">
        <!-- adding so that head me style jae jis bhi router ya connection ka ho -->
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>


        <!-- this is variable part jo ki alag alag se import karega act to needs and action of router -->
        <%- body  %>

        <%- include('_footer'); %>
        <!-- this is for js script -->
        <%- script %>

    </body>
</html>